.footer {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: #3b3b3b;
    border-top: 3px solid #6fd7bc;
    padding: 2rem;

    :not(:last-child) {
        margin-right: 3rem;
    }

    span {
        color: #e2e2e2;
        text-decoration: none;
        transition: all 0.3s ease-out;
    }
}