.nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    width: 100vw;
    z-index: 1;
    transition: .4s ease-out;

    &.scrolled {
        min-height: 7.5vh;
        background: rgba(59, 59, 59, 0.9);
    }

    &.fixed {
        // position: relative;
        // z-index: 1;
        background: #3b3b3b;
    }
}

.logo {
    color: #E2E2E2;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    cursor: pointer;
}

.nav-links {
    position: absolute;
    left: 100vw;
    height: 100vh;
    top: 0vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #3b3b3b;
    width: 100%;
    transform: translateX(0%);
    transition: transform 0.5s ease-in;

    a {
        font-size: 24px;
        color: white;
    }
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #E2E2E2;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

.burger div{
    width: 25px;
    height:3px;
    background-color: #E2E2E2;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-links li {
    opacity: 0; 
}

.burger {
    display: block;
    cursor: pointer;
}

.nav-active {
    transform: translate(-100%);
}

.toggle .line-one {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-two {
    opacity: 0;
}

.toggle .line-three {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (min-width:768px) {
    body {
        overflow-x: hidden; 
    }

    .logo{
        font-size: 26px;
    }

    .nav-links {
        position: relative;
        width: 60%;
        left: 0vw;
        display: flex;
        right: unset;
        height: unset;
        top: unset;
        background: transparent;
        flex-direction: row ;
        transform: translateX(0%);
        
        a {
            font-size: 18px;
        }
    }

    .nav-links li {
        opacity: 1;
        transition: all 0.3s ease-out;
    }

    .nav-links li:hover {
        // transform: scale(1.3);
        a {
            color: #6fd7bc;
        }
    }

    .burger {
        display: none;
    }
}

@media screen and (min-width:1050px) {
    .nav-links {
        width: 40%;
    } 
}

@media only screen and (min-width: 1250px) { 
    .nav-links {
        width: 30%;
    } 
}

@media only screen and (min-width: 1550px) { 
    
}
