.hero {
    width: 100vw;
    height: 100vh;
    background: url('../images/Hero-Section-Image.jpg') no-repeat bottom center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
    color: #ffffff;

    h1 {
        position: relative;
        font-size: 4rem;
        text-transform: uppercase;
        text-align: center;
        padding-top: 2em;
    }

    h3 {
        padding-bottom: 12em;
        font-size: 16px;
    }

    .arrow {
        padding-bottom: 1em;
        animation: MoveUpDown 2.5s linear infinite;
        position: absolute;
        width: 175px;
    }
}

@media only screen and (min-width: 1050px) {
    .hero {
        .arrow {
            width: 200px;
        }
    }   
}

@media only screen and (min-width: 1250px) { 
    .hero {
        .arrow {
            width: 225px;
        }
    } 
}

@media only screen and (min-width: 1550px) { 
 
}