@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import 'header';
@import 'animations';
@import 'hero';
@import 'section';
@import 'footer';
@import 'modal';
@import 'gallery';
@import 'about';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Karla', sans-serif;
}

body {
    overflow-x: hidden;
    // height: 100vh;
}

html {
    scroll-behavior: smooth;
}