@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
.nav-bar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  width: 100vw;
  z-index: 1;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.nav-bar.scrolled {
  min-height: 7.5vh;
  background: rgba(59, 59, 59, 0.9);
}

.nav-bar.fixed {
  position: fixed;
  z-index: 1;
  background: #3b3b3b;
}

.logo {
  color: #E2E2E2;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
  cursor: pointer;
}

.nav-links {
  position: absolute;
  left: 100vw;
  height: 100vh;
  top: 0vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3b3b3b;
  width: 100%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.nav-links a {
  font-size: 24px;
  color: white;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #E2E2E2;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 16px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #E2E2E2;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-links li {
  opacity: 0;
}

.burger {
  display: block;
  cursor: pointer;
}

.nav-active {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

.toggle .line-one {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-two {
  opacity: 0;
}

.toggle .line-three {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .logo {
    font-size: 26px;
  }
  .nav-links {
    position: relative;
    width: 60%;
    left: 0vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: unset;
    height: unset;
    top: unset;
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav-links a {
    font-size: 18px;
  }
  .nav-links li {
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .nav-links li:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .burger {
    display: none;
  }
}

@media screen and (min-width: 1050px) {
  .nav-links {
    width: 40%;
  }
}

@media only screen and (min-width: 1250px) {
  .nav-links {
    width: 30%;
  }
}

@-webkit-keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 25px;
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 25px;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.hero {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.227)), to(rgba(0, 0, 0, 0.2))), url("../images/Hero-Section-Image.jpg") no-repeat bottom center;
  background: linear-gradient(rgba(0, 0, 0, 0.227), rgba(0, 0, 0, 0.2)), url("../images/Hero-Section-Image.jpg") no-repeat bottom center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0;
  color: #ffffff;
}

.hero h1 {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2em;
}

.hero h3 {
  padding-bottom: 12em;
  font-size: 16px;
}

.hero .arrow {
  padding-bottom: 1em;
  -webkit-animation: MoveUpDown 2.5s linear infinite;
          animation: MoveUpDown 2.5s linear infinite;
  position: absolute;
  width: 150px;
}

@media only screen and (min-width: 1050px) {
  .hero .arrow {
    width: 160px;
  }
}

@media only screen and (min-width: 1250px) {
  .hero .arrow {
    width: 170px;
  }
}

.middle-text {
  padding: 0em 2em 6em 2em;
  text-align: center;
}

.middle-text a {
  color: #6fd7bc;
}

.featured {
  position: relative;
  padding: 3em 2em 2em 2em;
}

.featured .image-container img {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.featured .image-container img:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #6fd7bc;
  letter-spacing: .2em;
  font-size: .75em;
  padding-left: .0257em;
}

.featured-title {
  color: #3b3b3b;
  font-weight: bold;
  font-size: 1.6em;
  margin-top: .1em;
  margin-bottom: .2em;
  display: block;
  text-decoration: none;
}

.featured-desc {
  color: #3b3b3b;
  margin-bottom: 5em;
  font-size: 1em;
  line-height: 2.5em;
  font-weight: 500;
}

@media only screen and (min-width: 800px) {
  .featured {
    text-align: left;
  }
  .featured {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
    margin-left: 12em;
    margin-top: 1em;
    padding-top: 7em;
    -webkit-column-gap: 5vw;
            column-gap: 5vw;
  }
  .left {
    display: -ms-grid;
    display: grid;
    place-content: center;
    padding-bottom: 12em;
  }
}

@media only screen and (min-width: 1050px) {
  .featured {
    padding: 4em 6em 2em 0;
  }
  section {
    padding: 4em;
  }
}

@media only screen and (min-width: 1250px) {
  section {
    padding: 6em 10em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  section {
    padding: 6em 20em 4em 20em;
  }
}

.footer {
  font-size: 1rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3b3b3b;
  border-top: 3px solid #6fd7bc;
  padding: 2rem;
  cursor: pointer;
}

.footer :not(:last-child) {
  margin-right: 3rem;
}

.footer span {
  color: #e2e2e2;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.footer span:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  display: none;
}

.modal.open {
  opacity: 1;
  display: unset;
  pointer-events: all;
}

.modal p {
  color: white;
  font-size: 2rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
}

.full-image {
  position: absolute;
  height: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.full-image.open {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

@media only screen and (min-width: 768px) {
  .full-image.open {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
}

@media only screen and (min-width: 1050px) {
  .full-image.open {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
}

@media only screen and (min-width: 1550px) {
  .full-image.open {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(450px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  min-height: 100vh;
  grid-gap: 0.05rem;
}

.gallery .image-container {
  overflow: hidden;
}

.gallery .image-container img {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.gallery .image-container img:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  overflow-x: hidden;
}
/*# sourceMappingURL=main.css.map */